    <div class="modal create-cat" id="help">
        <div class="modal__inner">
            <div class="modal__title">
                Help
            </div>
            <div class="input-wrapper">
                <label class="label">
                    <div class="label__title">
                        Email
                    </div>
                    <input type="text" class="input" required="" autocomplete="off" placeholder="Your email">
                </label>
                <label class="label">
                    <div class="label__title">
                        Message
                    </div>
                    <textarea rows="5" class="input" placeholder="How we can help?"></textarea>
                </label>
                <button type="submit" class="btn">
                    Send
                </button>
            </div>
        </div>
    </div>

    <div class="_vue-flash-msg-body_error _vue-flash-msg-body _vue-flash-msg-_right-top flash-wrapper-class" style="top: 20px;">
        <div class="_vue-flash-msg-wrapper"><!---->
            <div class="_vue-flash-msg-body__content">
                <p role="heading" class="_vue-flash-msg-body__title"></p>
                <p class="_vue-flash-msg-body__text">
                    Email or password is invalid
                    <div class="btn btn--white" data-fancybox-close="">
                        <span>OK</span>
                    </div>
                </p>
            </div>
        </div>
    </div>

    <script src="libs/jquery.min.js"></script>
    <script src="libs/underscore.min.js"></script>
    <script src="libs/jquery-lazy/jquery.lazy.min.js"></script>
    <script src="libs/jquery-lazy/jquery.lazy.plugins.min.js"></script>
    <script src="libs/jquery.maskedinput.min.js"></script>
    <script src="libs/jquery.fancybox.min.js"></script>
    <script src="libs/svg4everybody.min.js"></script>
    <script src="libs/jquery.nice-select.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>