<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>@@name</title>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">


	<link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
	<link rel="manifest" href="favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	
    <link rel="alternate" href="https://instalacarte.com" hreflang="en" />

	<link rel="stylesheet" href="libs/jquery.fancybox.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="libs/datepicker/css/datepicker.min.css">

	<meta property="og:title" content="Free contactless QR menu and ordering for restaurants | Instalacarte"/>
	<meta property="og:description" content="Upgrade your restaurant with a contactless QR menu and cloud based ordering. Great customer experience and no waiting means more returning clients and less waiters."/>
	<meta property="og:image" content="img/facebook-logo.jpg"/>
</head>
<body class="panel">
	<!--HEADER-->
	<header class="header-panel">
		<div class="header-panel__wrapper">
			<a href="orders.html" class="btn header-panel__help-btn disabled">
				Orders
			</a>
            <a href="#help" class="btn header-panel__help-btn" data-fancybox>
				Help
			</a>
			<a href="mailto:hello@instalacarte.com" class="header__email">
				hello@instalacarte.com
			</a>
			<div class="lang">
				<div class="lang__title">
					English
				</div>
				<ul>
					<li>
						<a href="#">
							Русский
						</a>
					</li>
					<li>
						<a href="#">
							Poland
						</a>
					</li>
				</ul>
			</div>
			<div class="person-wrapper">
				<div class="person">
					<svg>
						<use xlink:href="img/user.svg#icon"/>
					</svg>
				</div>
				<div class="person-wrapper__list">
					<div class="person-wrapper__inner">
						<a href="establishment.html">instalacarte@gmail.com</a>
						<a href="#">Exit</a>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!--SIDEBAR-->
	<div class="sidebar">
		<a href="/" class="sidebar__logo">
			<img src="img/logo-admin.png" alt="">
		</a>
		<div class="menu">
			<ul class="menu__list">
				<li>
					<a href="establishment.html" class="menu__link @@if(name == 'Business info') {active}">
						Business info
					</a>
				</li>
				<li class="@@if(name == 'Menu' || name == 'Category') {active}">
					<div class="menu__link menu__link--parent @@if(name == 'Menu' || name == 'Category') {active}" data-toggle="#menu1">
						<a href="menu.html">
							Menu
						</a>
						<span class="menu__arrow">
							<svg>
								<use xlink:href="img/arrow.svg#icon"/>
							</svg>
						</span>
					</div>
					<ul id="menu1" class="@@if(name == 'Menu' || name == 'Category') {active}">
						<li><a href="category.html">Starters</a></li>
						<li><a href="category.html" class="@@if(name == 'Category') {active}">Salads</a></li>
						<li><a href="category.html">Meat</a></li>
						<li><a href="category.html">Deserts</a></li>
						<li><a href="category.html">Popular</a></li>
					</ul>
				</li>
				<li>
					<a href="orders.html" class="menu__link @@if(name == 'Orders') {active} disabled">
						Orders
					</a>
				</li>
			</ul>			
		</div>
	</div>