.settings {
	&__bl {
		padding: 50px 0 50px 30px;
		border-bottom: 1px solid #DBDBDB;
		&:last-child {
			border-bottom: 0;
		}
		&:first-child {
			.settings__inner {
				margin-top: 0;
			}
		}
	}
	&__item {
		display: flex;
		align-items: center;
		margin-bottom: 20px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__title {
		width: 150px;
		flex-shrink: 0;
	}
	&__code {
		display: flex;
		margin: 0 -6px;
		&-col {
			padding: 0 8px;
			width: 50%;
		}
		.btn {
			width: 100%;
		}
	}
	&__code-row {
		display: flex;
		position: relative;
		input {
			width: 406px;
			flex-shrink: 0;
			margin-bottom: 0;
		}
		.btn {
			margin-left: 16px;
		}
		.tooltip {
			left: 100%;
			margin-left: 200px;
			margin-top: 14px;
			position: absolute;
		}
	}
	&__code-btn {
		width: 250px;
	}
	&__input {
		position: relative;
		width: 406px;
	}
	&__btns {
		display: flex;
		margin-top: 17px;
		.btn--border2 {
			width: 180px;
			margin-left: 20px;
		}
	}
	&__mobile-title {
		display: none;
	}
}

.settings-order {
	&__table {
		display: table;
	}
	&__tr {
		display: table-row;
		&:last-child {
			.settings-order__td {
				padding: 0;
			}
		}
	}
	&__td {
		display: table-cell;
		padding: 0 20px 24px 0;
		vertical-align: middle;
	}
	&__item {
		align-items: center;
		display: flex;
		margin-bottom: 24px;
	}
	&__title {
		flex-shrink: 0;
		margin-right: 18px;
	}
	&__time {
		margin: 30px 0 28px;
		.settings-order__title {
			width: 200px;
			margin-right: 0;
		}
	}
	&__inputs {
		display: flex;
		align-items: center;
		&-input {
			width: 96px;
		}
		span {
			margin: 0 14px;
		}
		.input {
			text-align: center;
		}
	}
	&__buttons {
		display: flex;
		margin: 20px -8px 0;
		&-col {
			padding: 0 8px;
		}
	}
	&__btn {
		background: #F8F8F8;
		color: $black;
		border: 1px solid $red;
		cursor: no-drop;
		&:before {
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			@extend .gradient;
			z-index: -1;
			opacity: 0;
			transition: .3s ease;
		}
		&:not(.disabled) {
			color: $red;
			cursor: pointer;
			&:hover {
				color: #fff;
				box-shadow: 0 0 15px 0 rgba($orange, .8);
				&:before {
					opacity: 1;
				}
			}
		}
	}
}

.settings-employ {
	&__inner {
		position: relative;
		width: 556px;
	}
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 22px 0 12px;
		width: 556px;
		.btn {
			width: 132px;
			height: 36px;
			padding: 0;
			min-width: unset;
		}
	}
	&__minus {
		position: absolute;
		width: 48px;
		height: 48px;
		top: 50%;
		transform: translateY(-50%);
		@extend .gradient;
		left: 100%;
		margin: 0 0 0 20px;
		border-radius: 50%;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		transition: .3s all ease;
		&:hover {
			box-shadow: none;
		}
		&:before {
			content: '';
			width: 25px;
			height: 3px;
			background: #fff;
			display: block;
			border-radius: 4px;
		}
	}
}

@media screen and (max-width: 992px) {
	.settings {
		&__mobile-title {
			display: block;
			margin: 0 0 30px;
		}
	}
}