$orange: var(--orange);
$red: var(--red);
$font: 'Stratos LC Web';
$black: var(--black);

$bg_grey: var(--bg_grey);
$bg_white: var(--bg_white);
$border: var(--border);

@import '_fonts-mobile.scss';
@import '_normalize.scss';

*, *:before, *:after {
	box-sizing: border-box;
	outline: none;
}

html {
	width: 100%;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
}
body {
	position: relative;
	width: 100%;
	display: block;
	font-weight: 400;
	margin: 0 auto;
    font-family: $font;
    background: rgba($bg_white);
    min-width: 320px;
    color: rgba($black);
    height: 100%;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    overflow: hidden;
}
ul, ol {
	margin: 0;
	padding: 0;
	li {
		list-style-type: none;
	}
}
textarea, input {
	font-family: inherit;
}
textarea {
	resize: none;
}
a {
	text-decoration: none;
    color: inherit;
    transition: .3s all ease;
}
img, svg {
	max-width: 100%;
	display: block;
	height: auto;
}
svg {
    flex-shrink: 0;
}
b, strong {
	font-weight: 600;
}

.j-load-item .j-load-el {
	position: relative;
	overflow: hidden;
	border: 0 !important;
	&:before {
		content: '';
		width: 100%;
		height: 100%;
		background: #dbdbdb;
		transition: .4s all ease;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
	}
}

.container {
	width: 100%;
	padding: 0 15px;
}
.row {
	margin: 0 -15px;
	display: flex;
	flex-wrap: wrap;
}
.col {
	padding: 0 15px;
}

.wrapper {
    max-width: 400px;
    height: 90vh;
    max-height: 900px;
    width: 100%;
    margin: 0 auto;
    border-top: 15px solid #111224;
    border-left: 4px solid #111224;
    border-right: 4px solid #111224;
    border-bottom: 25px solid #111224;
    border-radius: 8px;
    margin-top: 5vh;
    position: relative;
    overflow: hidden;
    &__inner {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: auto;
        overflow-x: hidden;
        background-size: cover !important;
        background-position: center !important;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.gradient {
	background: linear-gradient(to left, rgba($orange), rgba($red));
}
.gradient-hover {
	background: linear-gradient(to left, rgba($red), rgba($orange));
}

.header-fixed {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 100;
    background: rgba($bg_grey);
    transition: .3s box-shadow ease, .5s transform ease;
    &.down {
        box-shadow: 0 2px 2px rgba(0,0,0,.25);
    }
    &.fixed {
        transform: translateY(-55px) translateX(0);
    }
}

.header {
    padding: 17px 0 8px;
    position: relative;
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__title {
        font-size: 22px;
        font-family: $font;
        font-weight: bold;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
        padding-right: 0px;
        line-height: 1.5;
    }
    &__info {
        display: flex;
        align-items: center;
    }
}

.sort {
    display: block;
    flex-shrink: 0;
    position: relative;
    margin-right: 9px;
    &:hover {
        ul {
            transform: none;
            opacity: 1;
            visibility: visible;
        }
    }
    a {
        width: 31px;
        height: 31px;
        align-items: center;
        justify-content: center;
        background: rgba($bg_white);
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        fill: rgba($black);
        fill-rule: evenodd;
        position: relative;
        z-index: 11;
        display: none;
        &:hover {
            fill: rgba($red);
        }
        &.active {
            display: flex;
        }
    }
}

.search-btn {
    background: rgba($bg_white);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 31px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-right: 10px;
    transition: .3s all ease;
    cursor: pointer;
    fill: rgba($black);
    stroke: rgba($black);
    stroke-width: .5px;
    &:hover {
        fill: rgba($red);
        stroke: rgba($red);
    }
    svg {
        width: 15px;
        height: 15px;
    }
}

.lang {
	position: relative;
	font-size: 14px;
    font-weight: 500;
    flex-shrink: 0;
	&__title {
		display: flex;
        align-items: center;
        justify-content: space-between;
		position: relative;
		cursor: pointer;
		padding: 10px 9px;
		background: rgba($bg_white);
		box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
		border-radius: 30px;
		transition: .3s all ease;
        z-index: 1001;
        height: 31px;
        min-width: 97px;
        &.active-target {
            border-radius: 15px 15px 0 0;
        }
	}
	ul {
		position: absolute;
		top: 100%;
		right: 0;
		padding: 5px 0;
		background: rgba($bg_white);
		box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);	
		border-top: 0;
		border-radius: 0 0 15px 15px;
		min-width: 100%;
		transition: .3s all ease;
		visibility: hidden;
		opacity: 0;
        transform: translateY(-20px);
        z-index: 1000;
        white-space: nowrap;
        &.active-target {
            opacity: 1;
			visibility: visible;
			transform: translateY(0);
        }
		a {
			display: flex;
			padding: 5px 9px;
			&:hover {
				color: rgba($red);
			}
		}
	}
	img {
		width: 16px;
		flex-shrink: 0;
		margin-right: 7px;
	}
}

.search {
    position: absolute;
    width: 100%;
    top: 10px;
    z-index: 1002;
    opacity: 0;
    visibility: hidden;
    transition: .3s all ease;
    left: 0;
    top: 10px;
    &.active-target {
        visibility: visible;
        opacity: 1;
        transform: translateY(7px);
    }
    &__wrapper {
        position: relative;
    }
    .container {
        padding: 0 10px;
    }
    input {
        height: 31px;
        width: 100%;
        border-radius: 20px;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
        border: 0;
        padding: 0 40px 0 15px;
        font-size: 14px;
        color: rgba($black);
        background: rgba($bg_white);
        &::placeholder {
            color: rgba($black, .5);
        }
    }
    button {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        width: 10px;
        height: 10px;
        cursor: pointer;
        background: transparent;
        border: 0;
        padding: 0;
        fill: rgba($black);
        &:hover {
            fill: rgba($red);
        }
        svg {
            width: 10px;
            height: 10px;
        }
    }
    &__close {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        width: 10px;
        height: 10px;
        cursor: pointer;
        background: transparent;
        border: 0;
        padding: 0;
        fill: rgba($black);
        stroke: rgba($black);
        stroke-width: .5px;
        &:hover {
            fill: rgba($red);
            stroke: rgba($red);
        }
        svg {
            width: 10px;
            height: 10px;
        }
    }
}

.cat {
    position: relative;
    overflow: hidden;
    .container {
        padding: 0;
    }
    &__slider {
        position: relative;
    }
    &__wrapper {
        overflow-x: auto;
        display: flex;
        padding: 0 10px;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    &__slide {
        width: 84px;
        flex-shrink: 0;
        padding: 0 5px;
        display: block;
        &.active {
            .cat {
                &__title {
                    color: rgba($black);
                }
                &__img {
                    box-shadow: none;
                    background: transparent;
                    &:before {
                        left: 0;
                    }
                }
            }
        }
        &.default {
            .cat {
                &__item {
                    color: rgba($black, .6);
                }
                &__ball {
                    display: none;
                }
            }
        }
    }
    &__ball {
        width: 60px;
        height: 60px;
        border-radius: 15px;
        left: 0;
        transform: translateX(7px);
        top: 8px;
        @extend .gradient;
        position: absolute;
        transition: .6s all ease;
    }
    &__item {
        padding-bottom: 12px;
        padding-top: 8px;
        font-size: 13px;
        font-weight: 500;
        display: block;
        position: relative;
        text-align: center;
        white-space: nowrap;
        cursor: pointer;
    }
    &__title {
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        width: 86px;
        left: 50%;
        transform: translateX(-50%);
        color: rgba($black, .6);
        transition: .3s color ease;
    }
    &__img {
        width: 60px;
        height: 60px;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 4px;
        position: relative;
        overflow: hidden;
        z-index: 1;
        font-size: 38px;
        img {
            max-width: 50px;
            max-height: 48px;
            width: auto;
            height: auto;
            position: relative;
        }
    }
}

.category {
    &__item {
        padding: 0 5px;
        margin-bottom: 7px;
    }
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 31px;
        font-size: 12px;
        font-weight: 500;
        background: rgba($bg_grey);
        border: 1px solid rgba($border);
        border-radius: 30px;
        padding: 0 6px;
        color: rgba($black);
        min-width: 59px;
        cursor: pointer;
        &.active {
            color: #fff;
            @extend .gradient;
            border: 0;
        }
    }
}

.title {
    font-size: 25px;
    font-weight: bold;
    font-family: $font;
    display: flex;
    align-items: center;
    margin-right: 8px;
    flex-shrink: 0;
    &__img {
        width: 26px;
        margin-right: 9px;
        flex-shrink: 0;
    }
}

.main {
    padding: 170px 0 90px;
    &__top {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 -5px 10px;
        &.disabled {
            display: none;
        }
    }
    .title {
        font-size: 22px;
    }
}

.products {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -2px;
    &__item {
        padding: 0 2px;
        margin-bottom: 4px;
        width: 50%;
        transition: .3s all ease;
        transform: translateY(10px);
        &.zoomInMy {
            transform: none;
        }
        &.gor {
            width: 100%;
            margin-bottom: 12px;
            .products {
                &__img {
                    height: 170px;
                }
                &__popular {
                    top: 160px;
                }
                &__text {
                    padding: 11px 10px 14px;
                }
                &__title {
                    font-size: 16px;
                }
                &__price {
                    font-size: 16px;
                }
            }
        }
        &.list {
            width: 100%;
            margin-bottom: 8px;
            .products {
                &__img {
                    display: none;
                }
                &__text {
                    flex-wrap: wrap;
                    padding: 10px 20px 9px;
                }
                &__like {
                    top: 5px;
                    right: 6px;
                }
                &__title {
                    width: 100%;
                    padding-right: 30px;
                    margin-bottom: 7px;
                    font-size: 16px;
                }
                &__popular {
                    position: relative;
                    left: 0;
                    top: 0;
                    margin: 5px 0;
                }
                &__desc {
                    display: block;
                    width: 100%;
                }
                &__price {
                    margin-left: 0;
                    margin-top: 6px;
                    font-size: 16px;
                }
            }
        }
    }
    &__link {
        display: block;
        position: relative;
        background: rgba($bg_white);
        box-shadow: 0px 4px 30px rgba($black, 0.1);
        border-radius: 10px;
        overflow: hidden;
        cursor: pointer;
    }
    &__count {
        width: 28px;
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        color: #fff;
        border-radius: 10px 0 10px 0;
        position: absolute;
        left: 0;
        top: 0;
        @extend .gradient;
        z-index: 10;
    }
    &__like {
        position: absolute;
        background: rgb($bg_grey);
        border: 1px solid rgb($border);
        border-radius: 50%;
        overflow: hidden;
        width: 28px;
        height: 28px;
        top: 7px;
        right: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: transparent;
        z-index: 10;
        cursor: pointer;
        transform: none;
        svg {
            stroke: rgb($black);
        }
    }
    &__img {
        height: 115px;
        overflow: hidden;
        display: block;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            transition: .3s;
            transform: scale(.9);
            &.zoomInMy {
                transform: scale(1);
            }
        }
    }
    &__text {
        display: flex;
        padding: 8px 10px 7px;
        justify-content: space-between;
        align-items: baseline;
    }
    &__title {
        font-size: 14px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        line-height: 1.2;
    }
    &__desc {
        font-size: 14px;
        line-height: 1.56;
        color: rgba($black, .6);
        display: none;
    }
    &__popular {
        height: 15px;
        position: absolute; 
        top: 102px;
        @extend .gradient;
        font-weight: bold;
        font-size: 10px;    
        color: #fff;
        text-transform: uppercase;    
        display: flex;
        align-items: center;
        justify-content: center;
        left: 10px;
        padding: 0 7px;
        border-radius: 20px;
    }
    &__price {
        margin-left: 2px;
        flex-shrink: 0;
        font-size: 14px;
        font-weight: 400;
    }
}

@keyframes like {
    0% {
        transform: scale(1)
    }
    50% {
        transform: scale(.6);
    }
    100% {
        transform: scale(1);
    }
}

.like {
    cursor: pointer;
    user-select: none;
    svg {
        width: 14px;
        height: 14px;
        position: relative;
        fill: none;
        stroke: rgb($black);
        stroke-width: 1.2px;
    }
    &.active {
        svg {
            fill: red;
            stroke: red;
        }
    }
    &.animated {
        animation: like .4s ease-out;
    }
}


.modal {
    position: absolute;
    top: 0;
    z-index: 1000;
    background: rgba($bg_white);
    max-width: 392px;
    width: 100%;
    left: 0;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: .4s opacity ease, .4s transform ease, .4s visibility ease;
    transform: translateY(150px);
    pointer-events: none;
    &.active {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
        pointer-events: all;
    }
    &__inner {
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding: 0 0 90px;
        overflow: auto;
        overflow-x: hidden;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    &__img {
        height: 200px;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    &__like {
        right: 15px;
        top: 15px;
        width: 32px;
        height: 32px;
        position: fixed;
        background: rgb($bg_grey);
        border: 1px solid rgb($border);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__close {
        position: absolute;
        background: rgba($bg_grey);
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
        width: 32px;
        height: 32px;
        left: 15px;
        top: 15px;
        z-index: 1;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: rgb($black);
        transition: .3s all ease;
        position: fixed;
        cursor: pointer;
        &:hover {
            fill: rgba($red);
        }
        svg {
            width: 10px;
            height: 10px;
            transform: rotate(90deg);
            margin-left: -2px;
        }
    }
    &__popular {
        @extend .gradient;
        border-radius: 50px 50px 0px 0px;
        font-size: 10px;
        color: #fff;
        padding: 0px 11px 0;
        display: flex;
        align-items: center;
        position: absolute;
        right: 24px;
        bottom: 0;
        height: 15px;
        text-transform: uppercase;
    }
    &__title {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        padding: 12px 15px;
        line-height: 1.3;
        font-size: 15px;
        background: rgba($bg_white);
        box-shadow: 0px 2px 30px rgba($black, 0.1);
        &.fixed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 100000;
        }
    }
    &__icon {
        font-size: 30px;
        flex-shrink: 0;
        margin-right: 10px;
        img {
            max-width: 37px;
            max-height: 38px;
        }
    }
    &__icon-basket {
        font-size: 30px;
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 50%;
        transform: translateY(50%);
        z-index: 22;
        pointer-events: none;
        span {
            position: absolute;
            bottom: 0;
            left: 13px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
        }
    }
    &__price {
        flex-shrink: 0;
        margin-left: auto;
        padding: 0 0 20px 30px;
        &--no-sell {
            padding: 0 0 0 30px;
        }
    }
    &__add {
        position: absolute;
        bottom: -24px;
        right: 15px;
        display: flex;
        align-items: center;
        &-inner {
            @extend .gradient;
            border-radius: 50px 0 0 50px;
            display: flex;
            align-items: center;
            padding-right: 30px;
            transform: translateX(22px);
            visibility: hidden;
            opacity: 0;
            transition: .3s all ease;
        }
        &.active {
            .modal {
                &__add-inner {
                    visibility: visible;
                    opacity: 1;
                }
                &__count {
                    width: 30px;
                }
            }
        }
    }
    &__minus {
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        cursor: pointer;
        &:before {
            content: '';
            position: absolute;
            height: 3px;
            width: 25px;
            background: #fff;
            border-radius: 5px;
        }
    }
    &__count {
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 15px;
        color: #fff;
        flex-shrink: 0;
        width: 10px;
        transition: .3s width ease;
    }
    &__plus {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        @extend .gradient;
        fill: #fff;
        cursor: pointer;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: 1;
        svg {
            width: 25px;
            height: 25px;
        }
    }
    &__desc {
        padding: 42px 24px 25px;
        line-height: 1.56;
        color: rgba($black, .6);
    }
}

.label {
    padding: 22px 24px 16px;
    border-top: 1px solid rgba($border);
    &__title {
        font-size: 22px;
    }
}

.check {
    display: block;
    line-height: 1.56;
    margin: 7px 0;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    input {
        display: none;
        &:checked {
            + .check__inner .check__title span {
                &:after {
                    opacity: 1;
                }
            }
        }
    }
    &__inner {
        display: flex;
        align-items: center;
    }
    &__title {
        font-size: 16px;
        display: flex;
        align-items: center;
        span {
            background: rgba($bg_grey);
            border: 1px solid rgba($border);
            width: 22px;
            height: 22px;
            border-radius: 50%;
            flex-shrink: 0;
            margin-right: 10px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            &:after {
                content: '';
                width: 12px;
                height: 12px;
                background: rgba($red);
                border: 1px solid rgba($border);
                border-radius: 50%;
                opacity: 0;
                transition: .3s all ease;
            }
            &.square {
                border-radius: 0;
                &:after {
                    border-radius: 0;
                }
            }
        }
        .and {
            height: 12px;
            width: 1px;
            display: inline-block;
            vertical-align: middle;
            background: #E8E8E8;
            margin: 0 9px;
        }
    }
    &__price {
        font-size: 16px;
        display: flex;
        color: rgba($black, .6);
        align-items: baseline;
        margin-left: 10px;
    }
}

.plus {
    flex-shrink: 0;
    margin-right: 5px;
    svg {
        transform: rotate(-45deg);
        width: 8px;
        height: 8px;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000, .5);
    z-index: 1001;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    cursor: pointer;
    pointer-events: none;
    &.active-target {
        visibility: visible;
        opacity: 1;
        pointer-events: all;
    }
}

.basket-modal {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 1002 !important;
    height: 72px;
    transform: translateY(100%);
    user-select: all !important;
    &__top {
        height: 12px;
        position: relative;
        &:before {
            content: '';
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            top: 0;
            background: rgba($black);
            width: 156px;
            height: 4px;
            border-radius: 20px;
        }
    }
}

.basket {
    height: 60px;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    max-height: 100%;
    position: relative;
    @extend .gradient;
    border-radius: 15px 15px 0 0;
    &:after {
        content: '';
        position: absolute;
        top: 100%;
        @extend .gradient;
        height: 9990px;
        width: 100%;
        left: 0;
    }
}

.basket-empty {
    height: 165px;
    background: rgba($bg_white);
    z-index: 1000;
    color: rgb($black);
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.1);
    height: 165px;
    display: none;
    border-radius: 15px 15px 0 0;
    svg {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 120px;
        height: 158px;
        fill: rgba($black, .15);
    }
    &:after {
        content: '';
        position: absolute;
        top: 100%;
        background: rgb($bg_white);
        height: 9990px;
        width: 100%;
        left: 0;
    }
    &__inner {
        padding: 0 140px 0 15px;
        height: 100%;
        display: flex;
        align-items: center;
    }
    &__title {
        font-size: 25px;
        font-weight: 500;
    }
}

.ordering {
    width: 100%;
    color: rgba($black);
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    z-index: 100000;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    &::-webkit-scrollbar {
        display: none;
    }
    &__offset {
        width: 100%;
        position: relative;
        height: 88px;
        flex-shrink: 0;
        z-index: 3;
    }
    &__wrapper {
        flex-shrink: 0;
        flex-grow: 1;
        min-height: 0;
        display: flex;
        flex-direction: column;
    }
    &__line {
        height: 12px;
        position: relative;
        flex-shrink: 0;
        width: 100%;
        &:before {
            content: '';
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            top: 0;
            background: rgba($black);
            width: 156px;
            height: 4px;
            border-radius: 20px;
        }
    }
    &__inner {
        background: rgba($bg_white);
        padding: 30px 15px;
        height: 100%;
        flex-grow: 1;
        min-height: 0;
        border-radius: 15px 15px 0 0;
    }
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 18px;
        font-weight: 500;
    }
    &__icon {
        fill: rgba($black);
        fill-rule: evenodd;
        &-inner {
            display: none;
            &.active {
                display: flex;
                align-items: center;
            }
        }
        span {
            font-size: 25px;
            font-weight: 500;
            line-height: 1;
            margin-left: 4px;
            flex-shrink: 0;
        }
        &-1 {
            width: 38px;
            height: 27px;
        }
        &-2 {
            width: 27px;
            height: 27px;
            stroke: rgba($black);
            fill: transparent;
        }
        &-3 {
            width: 30px;
            height: 27px;
        }
    }
    &__tabs {
        font-size: 12px;
        color: rgba($black, .6);
        padding: 2px;
        border: 1px solid rgba($border);
        border-radius: 40px;
        margin: 23px 0 0;
        position: relative;
        &-inner {
            position: relative;
            display: flex;
            align-items: center;
        }
        &-item {
            width: 33.3333%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 30px;
            text-align: center;
            line-height: 1;
            cursor: pointer;
            position: relative;
            transition: .3s;
            z-index: 2;
            &.active {
                color: #fff;
            }
            &.disabled {
                z-index: 0;
                cursor: no-drop;
                display: none;
                &:before {
                    content: '';
                    left: 1px;
                    top: 0;
                    right: 1px;
                    bottom: 0;
                    background: #E8E8E8;
                    position: absolute;
                    z-index: -2;
                    border-radius: 50px;
                }
            }
        }
        &-bg {
            position: absolute;
            top: 50%;
            border-radius: 30px;
            margin-top: -15px;
            height: 30px;
            @extend .gradient;
            z-index: 1;
        }
    }
    &__tabs-wrapper {
        display: none;
            &.active {
            display: block;
        }
    }
    &__products {
        margin: 40px 0 28px;
    }
    &__product {
        margin: 2px 0;
        position: relative;
        cursor: pointer;
        &.active-target {
            z-index: 2;
        }
        &-like {
            @extend .gradient;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            height: 38px;
            border-radius: 20px 20px 0 0;
            font-size: 12px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            opacity: 0;
            overflow: hidden;
            svg {
                width: 16px;
                height: 14px;
                margin-right: 5px;
            }
            .ordering__product.active-target > & {
                transform: translateY(-38px);
                transition: .3s;
                opacity: 1;
            }
            &-inner {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                svg {
                    width: 14px;
                    height: 14px;
                    position: relative;
                    fill: none;
                    stroke: #fff;
                    stroke-width: 1.2px;
                }
                &.active {
                    svg {
                        fill: #fff;
                        stroke: #fff;
                    }
                }
                &.animated {
                    svg {
                        animation: like .4s ease-out;
                    }
                }
            }
        }
        &-delete {
            @extend .gradient;
            display: flex;
            align-items: center;
            justify-content: center;
            fill: #fff;
            color: #fff;
            height: 38px;
            border-radius: 0 0 20px 20px;
            font-size: 12px;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            opacity: 0;
            overflow: hidden;
            svg {
                width: 15px;
                height: 16px;
                margin-right: 8px;
            }
            .ordering__product.active-target & {
                transform: translateY(38px);
                transition: .3s;
                opacity: 1;
            }
            &-inner {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        &-znak {
            background: rgba(#fff, .2);
            position: absolute;
            height: 100%;
            width: 40px;
            left: 0;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 38px;
            line-height: 1;
            position: absolute;
            &.minus {
                padding-bottom: 10px;
            }
        }
        &-item {
            font-size: 15px;
            padding: 6px 15px 6px 9px;
            min-height: 60px;
            background: rgba($bg_white);
            box-shadow: 0px 2px 30px rgba($black, 0.1);
            position: relative;
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            span {
                margin: 0 5px 0 3px;
                font-size: 9px;
            }
        }
        &-inner {
            display: flex;
            align-items: center;
        }
        &-options {
            font-size: 12px;
            li {
                margin: 2px 0;
            }
            b {
                color: rgba($black, .6);
                font-weight: 400;
            }
        }
        &-title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-right: 15px;
            line-height: 1.3;
        }
        &-price {
            font-size: 12px;
            margin-left: auto;
        }
    }
    &__info {
        font-size: 12px;
        &-item {
            display: flex;
            align-items: center;
            border-bottom: 1px solid rgba($border);
            &:last-child {
                border: 0;
            }
            &.text {
                cursor: text;
            }
            &.phone {
                cursor: text;
                input, .ordering__info-placeholder {
                    padding: 0 15px 0 40px;
                }
            }
            &.error {
                border-color: red;
                .ordering__info-title {
                    fill: red;
                    color: red;
                    font-size: 14px;
                }
                .ordering__info-placeholder,
                .iti__selected-dial-code {
                    color: red;
                    font-size: 14px;
                }
                .iti__arrow {
                    border-top-color: red;
                    border-bottom-color: red;
                }
                select {
                    color: red;
                    font-size: 14px;
                    option {
                        color: rgba($black);
                    }
                }
            }
        }
        &-title {
            fill: rgba($black, .6);
            color: rgba($black, .6);
            display: flex;
            align-items: center;
            width: 110px;
            height: 40px;
            flex-shrink: 0;
            position: relative;
            &:after {
                content: '';
                height: 20px;
                width: 1px;
                background: rgba($border);
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
            }
            div {
                width: 10px;
                display: flex;
                justify-content: center;
                flex-shrink: 0;
                margin-right: 10px;
            }
            span {
                color: red;
                margin-left: 7px;
            }
        }
        &-input {
            position: relative;
            flex-grow: 1;
            min-width: 0;
            height: 40px;
            input, select {
                border: 0;
                width: 100%;
                color: rgba($black);
                height: 100%;
                padding: 0 15px;
                background: rgba($bg_white, 0.001);
                &:placeholder-shown {
                    + div {
                        opacity: 1;
                    }
                }
            }
            select {
                cursor: pointer;
                appearance: none;
                position: relative;
                display: block;
                option {
                    background: rgba($bg_white);
                }
            }
            &.select {
                &:after {
                    content: '';
                    width: 6px;
                    height: 10px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 0;
                    background: url(../img-mobile/arrow.svg) center/contain no-repeat;
                }
            }
            &.required {
                background: rgba(yellow, .18);
            }
        }
        &-placeholder {
            position: absolute;
            top: 0;
            opacity: 0;
            height: 100%;
            padding: 12px 15px 0;
            color: rgba($black, .6);
            transition: .3s opacity;
            pointer-events: none;
            span {
                display: inline;
                opacity: 0;
                transition: .5s opacity ease;
            }
        }
        &-country {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 16px;
            left: 15px;
        }
    }
    &__textarea {
        font-size: 12px;
        display: block;
        cursor: text;
        position: relative;
        margin: 6px 0 15px;
        line-height: 1.56;
        textarea {
            padding: 14px 26px;
            background: rgba($bg_grey);
            border: 1px solid rgba($border);
            border-radius: 20px;
            width: 100%;
            transition: .3s;
            color: rgba($black);
            &:focus {
                border-color: rgba($red);
            }
            &:placeholder-shown {
                + div {
                    opacity: 1;
                }
            }
        }
        &-placeholder {
            color: rgba($black, .6);
            padding: 14px 26px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: .3s;
            pointer-events: none;
        }
    }

    .check {
        &__title {
            font-size: 12px;
            color: rgba($black, .6);
        }
        .square {
            width: 20px;
            height: 20px;
            border-radius: 4px; 
            &:after {
                border-radius: 4px;
            }
        }
        a {
            display: inline-block;
            margin-left: 4px;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }

    &__btn {
        width: 236px;
        height: 48px;
        border-radius: 50px;
        @extend .gradient;
        border: 0;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 30px auto 0;
        cursor: pointer;
    }
}

.success-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    background: rgba($bg_white);
    visibility: hidden;
    opacity: 0;
    position: absolute;
    max-width: 345px;
    width: 100%;
    padding: 20px 15px;
    transition: .3s;
    &.active-target {
        visibility: visible;
        opacity: 1;
    }
    &__title {
        font-size: 25px;
        text-align: center;
        margin: 0 0 15px;
    }
    &__btn {
        width: 138px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        @extend .gradient;
        border-radius: 30px;
        font-size: 15px;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        margin: 0 auto;
        cursor: pointer;
    }
}


@media all and (max-width: 1200px) {
    .wrapper {
        height: 100%;
        max-height: 100%;
        margin-top: 0;
        max-width: 100%;
        border: 0;
        border-radius: 0;
        position: fixed;
    }

    .modal {
        height: 100%;
        max-width: 100%;
        &.active {
            height: 100%;
        }
    }

    .basket {
        bottom: 0;
        width: 100%;
        margin-bottom: 0;
    }
}


@import '_phones.scss';
@import '_message.scss';