$orange: #FE624C;
$red: #EC2CA3;
$font: 'Sansation';
$roboto: 'Roboto', sans-serif;
$strat: 'Stratos LC Web';

$black: #111224;

@import '_fonts.scss';
@import '_normalize.scss';

.j-load-item .j-load-el {
	position: relative;
	overflow: hidden;
	border: 0 !important;
	&:before {
		content: '';
		width: 100%;
		height: 100%;
		background: #dbdbdb;
		transition: .4s all ease;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
	}
}

*, *:before, *:after {
	box-sizing: border-box;
	outline: none;
}
html {
	width: 100%;
	max-width: 100%;
	min-height: 100%;
}
body {
	position: relative;
	width: 100%;
	display: block;
	font-weight: 400;
	margin: 0 auto;
	font-family: $roboto;
	color: $black;
	background: #fff;
	overflow-x: hidden;
}
ul, ol {
	margin: 0;
	padding: 0;
	li {
		list-style-type: none;
	}
}
textarea, input {
	font-family: inherit;
}
textarea {
	resize: none;
}
a {
	text-decoration: none;
	color: inherit;
	transition: .3s all ease;
}
img, svg {
	max-width: 100%;
	display: block;
	height: auto;
}
svg {
	flex-shrink: 0;
}
b, strong {
	font-weight: 600;
}

*::-webkit-scrollbar {
	width: 10px;
}
 
*::-webkit-scrollbar-track {
	background: #d9d9d9;
}
 
*::-webkit-scrollbar-thumb {
	background: #4e4a74;
}


.container {
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}
.row {
	margin: 0 -15px;
	display: flex;
	flex-wrap: wrap;
}
.col {
	padding: 0 15px;
}


.gradient {
	background: linear-gradient(to left, $orange, $red);
}
.gradient-hover {
	background: linear-gradient(to left, $red, $orange);
}
.gradient-text {
	background: -webkit-linear-gradient(0deg, $red, $orange);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.lang {
	position: relative;
	margin-right: 16px;
	font-size: 14px;
	font-weight: 500;
	line-height: 1;
	@media all and (min-width: 1201px) {
		&:hover {
			ul {
				opacity: 1;
				visibility: visible;
				transform: translateY(0);
			}
			.lang__title {
				border-radius: 30px 30px 0 0;
			}
		}
	}
	&__title {
		display: flex;
		align-items: center;
		position: relative;
		cursor: pointer;
		padding: 15px 14px;
		background: #FFFFFF;
		box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
		border-radius: 30px;
		transition: .3s all ease;
		z-index: 1;
		&:before {
			content: '';
			width: 20px;
			height: 20px;
			background: url(../img/translate.svg) center/contain no-repeat;
			display: block;
			flex-shrink: 0;
			margin-right: 10px;
		}
		&:after {
			content: '';
			width: 10px;
			height: 6px;
			background: url(../img/arrow.svg) center/contain no-repeat;
			margin-left: 18px;
			opacity: .5;
			flex-shrink: 0;
		}
	}
	ul {
		position: absolute;
		top: 100%;
		right: 0;
		padding: 10px 0;
		background: #FFFFFF;
		box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);	
		border-top: 0;
		border-radius: 0 0 30px 30px;
		min-width: 100%;
		width: auto;
		transition: .3s all ease;
		visibility: hidden;
		opacity: 0;
		transform: translateY(-20px);
		white-space: nowrap;
		a {
			display: flex;
			padding: 5px 14px;
			&:hover {
				color: $red;
			}
		}
	}
	img {
		width: 16px;
		flex-shrink: 0;
		margin-right: 7px;
	}
}

.btn {
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 30px;
	color: #fff;
	padding: 0 25px;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
	transition: .3s box-shadow ease;
	fill: #fff;
	white-space: nowrap;
	border: 0;
	min-width: 160px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	@extend .gradient;
	&:not(.disabled):not(.btn--border):not(.btn--white):hover {
		@extend .gradient-hover;
		box-shadow: 0 0 15px 0 rgba($orange, .8);
	}
	svg {
		width: 18px;
		height: 18px;
		margin-right: 7px;
	}
	&--white {
		background: #fff;
		fill: $red;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
		span {
			@extend .gradient-text;
		}
		&:hover {
			background: #fff;
			box-shadow: 0 0 15px 0 rgba(254,98,76,0.8);
		}
		svg {
			margin-right: 10px;
		}
	}
	&--border {
		border: 1px solid #E8E8E8;
		background: #fff;
		color: #111224;
		font-weight: 400;
		transition: .3s all ease;
		&:hover {
			border-color: $red;
			color: $red;
			background: transparent;
			box-shadow: none;
		}
	}
	&--border2 {
		border: 1px solid #E8E8E8;
		background: #fff;
		color: #111224;
		// transition: .3s all ease;
		&:hover {
			box-shadow: 0 0 15px 0 rgba($orange, .8);
			color: #fff;
			border: 0;
			&:before {
				opacity: 1;
			}
		}
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			@extend .gradient-hover;
			opacity: 0;
			transition: .3s all ease;
			z-index: -1;
		}
	}
	&.disabled {
		cursor: no-drop;
	}
}


.modal {
	background: #fff;
	border-radius: 20px;
	padding: 0;
	display: none;
	overflow: visible;
	margin-top: 45px;
	&__inner {
		padding: 26px 28px 30px;
	}
	&__title {
		font-size: 35px;
		font-family: $font, sans-serif;
		color: #111224;
		font-weight: bold;
		text-align: center;
		margin-bottom: 20px;
	}
	&__desc {
		text-align: center;
		color: rgba($black, .5);
		margin-bottom: 25px;
	}
	.btn {
		width: 160px;
		margin: 0 auto;
	}
	.fancybox-close-small {
		padding: 0;
		width: 23px;
		height: 23px;
		color: #F4F4F4;
		right: 0;
		top: -35px;
		border: 1px solid #F4F4F4;
		border-radius: 50%;
	}
}

.fancybox-slide {
	padding: 5px;
}

.input {
	height: 48px;
	border-radius: 30px;
	border: 1px solid #E8E8E8;
	background: #f8f8f8;
	color: #111224;
	padding: 0 26px;
	width: 100%;
	margin-bottom: 20px;
	transition: .3s all ease;
	&:focus {
		border-color: $red;
	}
	&:last-child {
		margin-bottom: 0;
	}
	&.error-input {
		border: 2px solid red !important;
	}
}

.input-error {
	margin: -10px 0 0 28px;
	color: red;
	font-weight: 500;
}

textarea.input {
	height: auto;
	border-radius: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.tooltip {
	position: absolute;
	display: none;
}

.select {
	position: relative;
	cursor: pointer;
	transition: .3s all ease;
	&.open {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		.current {
			&:after {
				transform: rotate(180deg);
			}
		}
		.list {
			transform: translateY(0);
			opacity: 1;
			visibility: visible;
		}
	}
	.list {
		position: absolute;
		border-radius: 30px;
		border: 1px solid #E8E8E8;
		background: #f8f8f8;
		left: 0;
		width: 100%;
		border-top-right-radius: 0;
		border-top-left-radius: 0;
		border-top: 0;
		padding: 10px 26px;
		position: absolute;
		top: 100%;
		transform: translateY(-20px);
		opacity: 0;
		transition: .3s all ease;
		margin-top: 1px;
		visibility: hidden;
		max-height: 400px;
		overflow: auto;
		z-index: 100;
		li {
			padding: 5px 0;
			&.selected {
				color: $red;
			}
			&:hover {
				color: $red;
			}
		}
	}
	.current {
		display: flex;
		height: 100%;
		align-items: center;
		justify-content: space-between;
		&:after {
			content: '';
			width: 10px;
			height: 6px;
			display: block;
			background: url(../img/arrow.svg) center/contain no-repeat;
			flex-shrink: 0;
		}
	}
}

.relative {
	position: relative;
}

.label {
	display: block;
	margin-bottom: 20px;
	&__title {
		margin-bottom: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		&--big {
			font-size: 22px;
			font-weight: 500;
		}
	}
	&__desc {
		color: rgba(#111224, .5);
	}
	&__row {
		display: flex;
		margin: 0 -8px;
	}
	&__col {
		padding: 0 8px;
	}
	&__repeat-fields {
		border-top: 1px solid #E8E8E8;
		padding-top: 20px;
		margin-top: 5px;
		position: relative;
	}
	&__close {
		width: 20px;
		height: 20px;
		border-radius: 50%;
		border: 1px solid $red;
		fill: $red;
		cursor: pointer;
		position: absolute;
		right: -25px;
		top: 50%;
		user-select: none;
		transform: translateY(-50%);
		margin-top: 4px;
		transition: .3s all ease;
		&:hover {
			background: $red;
			fill: #fff;
		}
	}
}

// .wifi {
// 	display: flex;
// 	&__code {
// 		display: flex;
// 		flex-direction: column;
// 		align-items: center;
// 		margin-left: 43px;
// 	}
// 	.settings__code-img {
// 		margin-right: 0;
// 		margin-bottom: 30px;
// 		img {
// 			margin-top: 45px;
// 		}
// 	}
// }

.hide {
	display: none;
}




@import '_home.scss';
@import '_home-media.scss';

@import '_panel.scss';

@import '_settings.scss';

@import '_menu.scss';

@import '_category.scss';

@import '_message.scss';

@import '_panel-media.scss';